span.tag.is-beginner {
  color: white;
  background-color: #3cb371;
}

span.tag.is-standard {
  color: white;
  background-color: #59b0f4;
}

span.tag.is-advanced {
  color: white;
  background-color: #ab4e0c;
}

span.tag.is-expert {
  color: white;
  background-color: #b02abf;
}
